* {
  box-sizing: border-box;
}

:root {
  --color__primary: 41,45,51;
  --color__secondary: 85,85,85;
  --color__accent: 72,131,227;
  --font: 'Ubuntu';
}

body {
  font-family: var(--font);
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-size: 8px;
  font-weight: 300;
  font-family: var(--font);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
p,
span,
small,
ul,
ol,
dl,
label,
select,
input,
button,
table {
  font-size: 2rem;
  font-weight: 300;
  margin: 0;
}

h2,
ul,
p {
  margin-top: 3rem;
}

ul {
  margin: 0;
  padding: 0;
  list-style-position: inside;
  line-height: 3rem;
}

.wrapper {
  max-width: 800px;
  padding: 0 4rem;
}

header {
  border-bottom: 1px solid #efefef;
  padding: 4rem 0;
}
